@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, sans-serif;
}

h1, 
h2, 
.logo {
    font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
    font-family: "Roboto",'Segoe UI', Tahoma, Geneva, sans-serif;
}

header, 
footer {
    background-color: #202020;
    color: white;
}

header a {
    color: #fff;
    padding: 10px;
}

nav ul {
    padding: 0px;
    text-align: left;
}

nav li, a {
    display: inline-block;
    text-decoration: none;
}

.current {
    text-decoration: underline;
    font-weight: 600;
}

.cta {
    background-color: #BB0000;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px 10px;
    border-radius: 5px;
}

.cta__view {
    background-color: #BB0000;
    color: white;
    font-size: 0.8em;
    padding: 8px 30px 8px;
    border-radius: 5px;
}

.cta__sale {
    background-color: #127300;
    color: white;
    font-size: 0.8em;
    padding: 8px 30px 8px;
    border-radius: 5px;
}

.reviews {
    background-color: #e8e8e8;
}

.feautered--products {
    background-color: #fbfbfb;
}

.feautered--products img {
    height: auto;
    max-width: 75%;
}


.profilePictures{
    border-radius: 50%;
}

.siteDescriptionImg {
    height: auto;
    border-radius: 100px;
    max-width: 85%;
}


footer {
    text-align: center;
}

/* Home Page */

.coverImage {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position-x: right;
    background-position-y: bottom;
}

.product__specific {
    height: auto;
    max-width: 80%;
}

.back__button {
    background-color: #BB0000;
    color: #fff;
    font-size: 1em;
    padding: 8px 30px 8px;
    border-radius: 5px;
}