/* Global */

@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, sans-serif;
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
  font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-height: 45px;
}

header,
footer {
  background-color: #202020;
  color: white;
}

header a {
  color: #fff;
  padding: 10px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  top: 45px;
  z-index: 1000;
  background-color: #202020;
  right: 0px;
  min-height: 100%;
}

nav ul {
  padding: 0px;
  text-align: left;
}

nav li,
a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.current {
  text-decoration: underline;
  font-weight: 600;
}

.cta {
  background-color: #bb0000;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  text-wrap: nowrap;
  padding: 10px 40px;
  border-radius: 5px;
}

.cta__view {
  background-color: #bb0000;
  color: white;
  font-size: 0.8em;
  padding: 8px 20px 8px;
  border-radius: 5px;
  max-width: 83.68px;
  text-align: center;
}

.cta__sale {
  background-color: #127300;
  color: white;
  font-size: 0.8em;
  padding: 8px 20px 8px;
  border-radius: 5px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
}

/* Home Page */

.welcome {
  background-image: url("../images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  background-position-x: center;
  background-position-y: bottom;
  position: relative;
}

.welcome__content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.site-description,
.reviews__detailed {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.site-description > *,
.reviews__detailed > * {
  flex: 1;
}

.site-description__image {
  border-radius: 100px;
  width: 100%;
  max-width: 400px;
}

.reviews {
  background-color: #e8e8e8;
  text-align: center;
  padding: 50px;
}

.reviews__detailed {
  text-align: left;
}

.reviews__detailed div {
  margin: 20px;
}

.reviews img {
  border-radius: 50%;
  max-width: 100px;
  float: right;
}

.reviews__name {
  display: block;
}

.featured {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  gap: 10px;
}

.featured h2 {
  grid-column: -1/1;
}

.featured img {
  width: 100%;
}

/* Products */

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products img {
  grid-column: -1/1;
}

.products h2,
.products h3,
.products p {
  grid-column: 1;
  font-size: 0.8em;
  margin: 5px;
}

.products .cta__sale,
.products .cta__view {
  grid-column: 2;
  grid-row: 2/4;
}

.products--sale {
  display: flex;
}

.old-price {
  text-decoration: line-through;
}

/* Guitar Page */

.product-list {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  gap: 20px;
}

.product-list h1 {
  grid-column: -1/1;
}

.product-list img {
  width: 100%;
}

.guitars {
  max-width: 1000px;
  margin: auto;
}

/* For the specific product page */

.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__text {
  padding: 0px 30px;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-specific__images {
  width: 100%;
}

.product-specific__images-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.product-specific a {
  display: block;
  width: 97px;
  margin: auto;
}

.back__button {
  background-color: #bb0000;
  color: #fff;
  font-size: 1em;
  padding: 8px 30px 8px;
  border-radius: 5px;
}

/* CONTACT PAGE */

input,
select,
textarea {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.contact__fieldset {
  border: #fff;
  display: flex;
  text-align: left;
  width: 100%;
}

.contact__fieldset > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Media */

@media (min-width: 600px) {
  .featured {
    grid-template-columns: repeat(2, 1fr);
  }

  .site-description,
  .reviews__detailed {
    flex-direction: row;
  }

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-flex;
    padding: 0px;
  }

  header {
    justify-content: start;
  }

  header label {
    display: none;
  }
}

@media (min-width: 800px) {
  .featured {
    grid-template-columns: repeat(4, 1fr);
  }
  .reviews__detailed p {
    margin: 50px;
  }
  .welcome {
    background-position-x: right;
  }
  .welcome__content {
    top: 100px;
    left: 100px;
    transform: none;
  }
  .cta {
    padding: 10px 80px;
  }
}
